<div class="container" id="contact">
  <h2>Contact</h2>
  <div class="contact row">
    <div class="col-md-6 col-xs-12">
      <div class="map row">
        <div class="col-xs-12">
          <iframe
            width="100%"
            height="225px"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFZ5s4yvmJimRF8Mtrtd4MZ2cuHMp42y4 
            &q=filderstrasse,stuttgart+germany" allowfullscreen>
          </iframe>
        </div>
        <div class="col-xs-12">  
          <h4><span class="glyphicon glyphicon-envelope"></span>  joe.p.french@gmail.com</h4>
        </div>  
        <div class="col-xs-12"> 
          <h4><span class="glyphicon glyphicon-phone-alt"></span>  +1.719.238.0600</h4>
        </div>
        <div class="col-xs-12">
          <h4><span class="glyphicon glyphicon-home"></span>  21 Filderstrasse  Stuttgart, DE</h4>
        </div>
      </div>    
    </div>
    <!--form-->
    <div class="col-md-6 col-xs-12">
      <%= flash[:notice] %>
      <%= form_tag("/static_pages/thank_you",  class: "form-horizontal") do %>
        <div class="form-group row">
          <div class="col-md-12 col-xs-12">  
            <%= label_tag :name, "Name" %>
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
          </div>         
          <!--div class="col-md-6 col-xs-12">
            <#%= label_tag :phone %>
            <#%= text_field_tag :phone, nil, class: "form-control", placeholder: "Enter Phone" %>
          </div-->
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <%= label_tag :email, "Email Address" %>
            <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12">
            <%= label_tag :message %>
            <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4 offset-md-4 col-xs-12">
            <%= submit_tag "Send" %>
          </div>
        </div>  
      <% end %>
    </div>  
  </div>    <!--end contact row--> 
</div>  <!--end container contact-->

</div>