<div class="col-xs-12 col-md-4">
  <div class="product-box">
    <% cache product do %>
      <p><%= link_to (image_tag(product.image_url, class: "img-responsive")), product %></p>
      <p><h3><%= link_to (product.name), product %></h3></p>
      <p><%= product.description %></p>
      <p><strong>$<%= product.price %></strong></p>
      <% if signed_in? && current_user.admin? %>
        <% logger.debug signed_in? %>
        <% logger.debug current_user.admin? %>
        <p><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
    <% end %>  
  </div><!--end products-box-->
</div><!--end products-col-->
