<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="product-show"><h2>Business Solutions</h2></p>

  <div class="product-box">
    <div class="row">
      <div class="col-xs-12">
        <p>
          <h3><strong><%= @product.name %></strong></h3>
        </p>
      </div>
      <div class="col-md-6 col-xs-12" id="image-div">
        <p>
          <%= image_tag(@product.image_url, class: "img-responsive") %>
        </p>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <p class="product-show">
              <strong>Description:</strong><br/>
              <%= @product.description %>
            </p>
          </div>  
          <div class="col-xs-12">
            <p class="product-show">
              <strong>Price:</strong>
              <%= @product.price %>
            </p>
          </div>  
          <div class="col-xs-12"> 
            <p class="product-show">
              <strong>Average Rating:</strong>
              <% if @product.comments.count>0 %>
                <%= @product.comments.average(:rating).round(1) %>
              <% else %>
                Not yet rated
              <% end %>    
            </p>
          </div>  
          <div class="col-xs-12">
            <p class="product-show">
              <strong>Highest Rating Comment:</strong><br />
              <% if @product.comments.count>0 %>                
                <%= @product.highest_rating_comment %>
              <% else %>
                Not yet rated
              <% end %> 
            </p>
          </div>
          <div class="col-xs-12">
            <p class="product-show">
              <strong>Lowest Rating Comment:</strong><br />
              <% if @product.comments.count>0 %>
                <%= @product.lowest_rating_comment %>
              <% else %>
                Not yet rated
              <% end %> 
            </p>
          </div>
        </div><!--inner row-->  
      </div><!--col-->  
      <div class="col-md-6 col-xs-12">
        <p class="product-show">
          <strong>All Comments:</strong><br />
          Placeholder
        </p>
      </div><!--col-->  
    </div><!--row-->
  </div><!--box-->
</div><!--container-->

<div class="container">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>